@font-face {
               font-family: gilroyM;
               src: url(/fonts/Gilroy-Medium.ttf);
}

*{
               font-family: gilroyM;
               margin: 0;
               padding: 0;
               box-sizing: border-box;
}
html,body{
               height: 100%;
               width: 100%;
               background-color: #2E2D2E;
}
#main{
               padding: 1vw;
               width: 100%;
}
#profileBottom{
               width: 100%;
               display: flex;
               flex-wrap:wrap ;
               flex-shrink: none;
               gap: 1vw;
               align-items: flex-start;justify-content: center;
               padding: 1vw 4.5vw;
}
.feed .image img{
               border-radius: 10px;
               object-fit: cover;
               width: 280px;
}
.feed{
               background-color: rgb(217, 249, 239);
               border-radius: 10px;
              
               overflow: hidden;
               position: relative;
               padding: 10px;
}
.feed:hover .hidden{
               opacity:1
}
.feed>h1{
               font-size: 1.1vw;
               font-weight: 100;
               letter-spacing: 0.2px;
               color: rgb(51, 49, 49);
}
.hidden{
               height: 100%;
               align-items: flex-end;
               width: 100%;
               position: absolute;
               transition: all 0.2s ease-out;
               display: flex;
               opacity: 0;
               padding: 0.5vw 1vw;
               flex-direction: column;
               justify-content: space-between;
               top: 0;
               background-color: rgba(50, 49, 49, 0.196);
               left: 0;
}
.save{
               padding: 0.3vw 0.7vw;
               font-size: 1.1vw;
               color: #fff;
               background-color: rgb(122, 0, 0);
               border-radius: 13px;
               border: none;
}

.share{
               width: 100%;
               display: flex;align-items: center;justify-content: space-between;
               /* gap: 5px; */
}
.icon{
               height: 40px;
               width: 40px;
               border: none;
               font-size: 1.2vw;
               font-weight: 999;
               border-radius: 50%;
               display: flex;align-items: center;justify-content: center;

}
.link{
               width: 60%;
               padding: 0.2vw 0.5vw;
               border-radius: 10px;
               background-color:rgb(154, 152, 152) ;
               text-align: center;
              
}
.link a {
               text-decoration: none;
               color: #fff;
}
.image{
               overflow: hidden;
               border-radius: 10px;
               position: relative;
              
}