@font-face {
               font-family: gilroyM;
               src: url(/fonts/Gilroy-Medium.ttf);
}

*{
               font-family: gilroyM;
               margin: 0;
               padding: 0;
               box-sizing: border-box;
}
html,body{
               height: 100%;
               width: 100%;
}
#main{
               padding: 1vw;
               width: 100%;
}
#profileTop{
               width: 100%;
               padding: 1vw;
               display: flex;flex-direction: column;
               align-items: center;justify-content: center;
}
.circle{
               height: 110px;
               width: 110px;
               border-radius: 50%;
               position: relative;
               margin: 10px;
               display: flex;
               align-items: center;justify-content: center;
               background-color: #7954BA;
}
.circle>h1{
               font-size: 4vw;
               font-weight: 100;
               font-family: gilroyM;
               color:#fff;
}
#profileTop>h1{
               font-size: 2.3vw;
               letter-spacing: 1px;
               margin-bottom: 5px;
}
#logo{
               display: flex;
               gap: 5px;
               align-items: center;
               margin-bottom: 5px;
               justify-content: center;
}
#logo>h2{
               font-weight: 100;
               font-size: 1vw;
               letter-spacing: 0.5px;
               color: #535151;
}
#logo>img{
               width: 15px;
               background-color: rgba(0, 0, 0, 0.099);
               border-radius: 50%;
}

#profileTop>h2{
               font-size: 1.1vw;
               margin-bottom: 10px;
               color: rgba(0, 0, 0, 0.738);
               
               font-weight: 100;
}
#buttons>button{
               padding: 0.6vw 1.2vw;              
               font-size: 1.2vw;
               border: none;
               border-radius: 25px;
}
#buttons>button:hover{
               background-color: #dadada;
}
.firstBtn{
               margin-right: 5px;
}
#sharedSaved>button{
               border: none;
               background-color: transparent;
               position: relative;
               font-size: 1.2vw;

}
#sharedSaved>button::before{
               content: "";
               position: absolute;
               transition: all 0.2s ease;
               bottom: 0;
               width: 0%;
               border-bottom: 2px solid #000;
}
#sharedSaved>button:hover::before{
               width: 100%;
}
#sharedSaved{
               display: flex;align-items: center; justify-content: center;
               margin-top: 20px;
               gap: 30px;
}
#sharedSaved>button>a{
               color: #000;
               text-decoration: none;
}
#profileBottom{
               width: 100%;
               display: flex;
               flex-wrap:wrap ;
               flex-shrink: none;
               gap: 20px;
               align-items: flex-start;justify-content: center;
               padding: 1vw 4.5vw;
}
.feed img{
               border-radius: 10px;
               width: 200px;
               object-fit: cover;
               margin-bottom: 5px;
}
.circle>img{
               width: 100%;
               height: 100%;
               border-radius: 50%;
               object-fit: cover;
}
.feed>h1{
               font-size: 1vw;
               margin-top: 5px;
               margin-left: 7px;
               color: rgba(0, 0, 0, 0.69);
}
.feed{
       
               display: flex;
               align-items: flex-start;
               width: 200px;
               box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
               border-radius: 10px;
               /* padding: 0.1vw; */
               padding-bottom: 0.5vw;
               justify-content: center;
               flex-direction: column;
}
.tt{
               text-transform: uppercase;
}
#uploadProfileImage{
               width: 30px;
               height: 30px;
               border-radius: 50%;
               background-color: #dadada;
               display: flex;align-items: center;justify-content: center;
               position: absolute;
               bottom: 0;
               right: 0;

}